<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>      
        <div class="w3-container w3-gray w3-padding">
            <h1 style="text-align: right" class="w3-font-white">STRIGGER</h1>
        </div>
        <div class="w3-row">

        </div>

    </body>
    <script src="js/control.js"></script>
</html>